/Educationappp/.idea
/StartAndroid/App8/.idea
/StartAndroid/App6/.idea
/StartAndroid/App10Notification/.idea
/StartAndroid/App1Menu/.idea
/StartAndroid/TwoActivities/.idea
/StartAndroid/Animation/.idea
/StartAndroid/IntentExtras/.idea
/StartAndroid/ActivityWith2Actions/.idea
/StartAndroid/CallOtherActivity/.idea
/StartAndroid/ActivityLifeCycle/.idea
/StartAndroid/TwoActivitiesWithResult/.idea
/EducationApplication/.nb-gradle/